body {
    font-family: Bahnschrift, sans-serif;
    background-color: #00001a;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    display: block;
   margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: 200px;
}

.journal-container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #10113E;
    border-radius: 8px;
    border-color: #844DE2;
}

#journal-entry,
#submit-entry,
button,
input,
textarea,
select {
    background-color: #10113E;
    color: #FFFFFF;
}

#journal-entry {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

#submit-entry {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #844DE2;
}

#submit-entry:hover {
    background-color: #904CE3;
}

.entries-table {
    width: 100%;
    border-collapse: collapse;
}

.entries-table tr {
    border: 1px solid #844DE2;
}

.entries-table td {
    padding: 10px;
    background-color: #10113E;
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #844DE2;
}

.entries-table th {
    background-color: #202040;
    color: #844DE2; 
    padding: 15px; 
    text-align: left;
    border-bottom: 2px solid #844DE2;
}

.entry-row {
    border: 1px solid #844DE2;
}

.entry-data {
    padding: 10px;
    background-color: #10113E;
    color: #FFFFFF;
    text-align: left; 
    border-bottom: 1px solid #844DE2;
}

.entry-data .label {
    color: #844DE2;
}

.entry-data .value {
    color: #FFFFFF;
}

h1 {
    text-align: center;
    color: #CCCCCC;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000034;
}

/* Change the color of the delete/select buttons to purple */
#delete-selected,
#select-all,
#submit-selected,
#submit-all {
    background-color: #844DE2;
}

#delete-selected:hover,
#select-all:hover,
#submit-selected:hover,
#submit-all:hover {
    background-color: #904CE3;
}

/* Differ the table headers and the answers */
.entries-table th {
    background-color: #202040;
}

.entries-table td {
    background-color: #10113E;
}

/* Add color for profit and loss */
.profit {
    color: green;
}

.loss {
    color: red;
}

#past-entries {
    margin-top: 20px; /* Adjust this value as needed */
}

/* General form styling */
form {
    background-color: #10113E;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for input fields and select boxes */
input[type="text"], input[type="number"], input[type="date"], select {
    width: 49%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for checkboxes */
input[type="checkbox"] {
    margin-top: 15px;
}

/* Style for buttons */
button {
    width: 23%;
    
    background-color: #844DE2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #844DE2;
}

.questions-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 10px; 
}

.questions-container input[type="text"] {
    width: 50%;
    padding: 10px; 
    margin: 0 1%; 
    box-sizing: border-box; 
}